# Default ignored files
/shelf/
/workspace.xml
.idea/
.DS_Store
*.pyc
**/__pycache__/
/__pycache__/
frontend/.env
frontend/.firebaserc
frontend/.firebase/hosting.YnVpbGQ.cache
frontend/.env.development

*.csv
*.db
data_collection/db_utils/data_collection_config.py
data_collection/db_utils/.env
